@{
    ViewBag.Title = "Главная";
}

<ul class="nav nav-pills nav-stacked" style="margin-top:20px;">
    <li role="presentation" class="active">@Html.ActionLink("Книги (Razor)", "Index", "Book")</li>
    <li role="presentation"><a href="~/WebForms/Main.aspx">Книги (Web Forms)</a></li>
</ul>